In [9]:
import numpy as np 
import pandas as pd 
data=pd.read_csv('data.csv')
data

  Customer   Age   Income   no of credit cards  class
0   george     35       35                    3   no
1  michalle    22       50                    2  yes
2     steve    63      200                    1   no
3      ian     59      170                    1   no
4    jacob     25       40                    4  yes

In [40]:
x_train=data.iloc[:,1:4].to_numpy()
y_train=data.iloc[:,4]

#performing label endoing on the in the dataset 
from sklearn.preprocessing import LabelEncoder 
le=LabelEncoder()
y_train=le.fit_transform(y_train)

from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier()
neigh.fit(x_train, y_train)

test=[37,50,2]
x_test=np.array(test).reshape(1,-1)

y_pred=neigh.predict(x_test)
print(y_pred)

[0]